#container {
  margin: auto;
  margin-top: 10px;
  width: 800px;
  height: 80vh;
  border: 1px #777777 solid;
  border-radius: 5px;
}
#wizard {
  margin-top: 20px;
}

.autoFilledData {
  display: none;
}

#formAlert {
  margin: 40px 20px 20px 20px;
}

